<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.geidea.paymentsdk.sampleapp"
    >

    <application
        android:name=".SampleApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_geidea_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        >
        <activity
            android:name=".MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sample.SampleSimplestPaymentActivity">
        </activity>
        <activity android:name=".sample.SampleAddressActivity">
        </activity>
        <activity android:name=".sample.SampleAddressFieldsActivity">
        </activity>
        <activity android:name=".sample.SampleCardFieldsActivity">
        </activity>
        <activity android:name=".sample.SampleCardActivity">
        </activity>
        <activity android:name=".sample.paymentintents.SamplePaymentIntentsActivity">
        </activity>
        <activity android:name=".sample.paymentintents.SampleMeezaQrPaymentActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".sample.SamplePaymentFormActivity">
        </activity>
        <activity android:name=".sample.orders.SampleOrdersActivity">
        </activity>
    </application>

</manifest>