<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.geidea.paymentsdk.sampleapp"
    >

    <application
        android:name=".SampleApplication"
        android:testOnly="false"
        tools:node="merge"
        />

</manifest>